.line::after {
    content: "";
    display: block; 
    border: 2px solid #2C3E50;
    width: 100px; 
    margin-left: auto;

    
}

 h1 {
    font-weight: 700;
    color: #2C3E50;
}

.icon i{
    border: 1px solid;
    border-radius: 50%;
    color: #2C3E50;
}