<nav class="navbar navbar-expand-lg ">
    <div class="container d-flex justify-content-center align-items-center p-3">
        <div class="nav-brand container">
            <a class="navbar-brand m-auto" ><h1 class="text-white">START FRAMEWORK</h1></a>
        </div>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link mx-3 " routerLink="/about" routerLinkActive="bg-success rounded-3">About</a>
                <a class="nav-link mx-3" routerLink="/portfolio" routerLinkActive="bg-success rounded-3">PORTFOLIO</a>
                <a class="nav-link mx-3" routerLink="/contact" routerLinkActive="bg-success rounded-3">CONTACT</a>
            </div>
        </div>
    </div>
</nav>
