<h1 class="text-center mt-5">START FRAMEWORK</h1>
<div class="d-flex align-items-center justify-content-center mb-2">
    <div class="line mx-2"></div>
    <i class="fa-solid fa-star "></i>
    <div class="line mx-2 "></div>
</div> 
<div class="row mx-auto container mt-4">
    <div class="col-md-4">
       <div class="content text-center">
        <img src="assets/poert1.png" class="w-100">
        <div class="layer d-flex justify-content-center align-items-center">
         <i class="text-white fa-solid fa-plus fa-6x "></i>
        </div>
       </div>
    </div>
    <div class="col-md-4">
        <div class="content text-center">
         <img src="assets/port2.png" class="w-100">
         <div class="layer d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x "></i>
           </div>
        </div>
     </div>
     <div class="col-md-4">
        <div class="content text-center">
         <img src="assets/port3.png" class="w-100">
         <div class="layer d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x "></i>
           </div>
        </div>
     </div>
</div>
<div class="row mx-auto container mt-4 mb-5">
    <div class="col-md-4">
       <div class="content text-center">
        <img src="assets/poert1.png" class="w-100">
        <div class="layer d-flex justify-content-center align-items-center">
         <i class="text-white fa-solid fa-plus fa-6x "></i>
        </div>
       </div>
    </div>
    <div class="col-md-4">
        <div class="content text-center">
         <img src="assets/port2.png" class="w-100">
         <div class="layer d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x "></i>
           </div>
        </div>
     </div>
     <div class="col-md-4">
        <div class="content text-center">
         <img src="assets/port3.png" class="w-100">
         <div class="layer d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x "></i>
           </div>
        </div>
     </div>
</div>
